@tailwind base;
@tailwind components;
@tailwind utilities;

.home-style {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    min-height: 100vh;
    --tw-bg-opacity: 1;
    background-color: rgb(30 41 59/var(--tw-bg-opacity));
    -webkit-transition: background-color 400ms ease-in-out;
    transition: background-color 400ms ease-in-out;
    font-family: 'Spartan', sans-serif;
    font-size: clamp(1.25rem,5vw,2rem);
    -webkit-letter-spacing: -0.04rem;
    -moz-letter-spacing: -0.04rem;
    -ms-letter-spacing: -0.04rem;
    color: hsl(0, 0%, 100%);
    -webkit-transition: color 400ms ease-in;
    transition: color 400ms ease-in;
    margin-bottom: 4px;
}
