.starter-select{
    min-width: 185px;
    width: fit-content;
}
.ant-card-head{
    color: azure !important;
}
/* Shared Styles */
.card-common {
    border-radius: 10px;
    padding: 24px;
    margin-bottom: 1.5rem;
    box-shadow: 1px 2px 4px rgba(254, 254, 254, 0.5);
    font-size: large;
}

.global-card {
    background-color: #538392;
    color: #B3E2A7;
}

.configured-card {
    display: flex;
    background-color: hsl(233deg 40.69% 41.23%);
    justify-content: space-between; /* Specific to configured-card */
}
/* Base style for the button */
.ant-btn {
    background-color: #42B040;  /* Dark blue background */
    color: white;               /* White text color */
    border: none;               /* No border */
    transition: background-color 0.3s, transform 0.2s; /* Smooth transition for background and transform */
}

/* Hover state */
.ant-btn:hover {
    background-color: #0a2a57;  /* Slightly lighter blue on hover */
    cursor: pointer;            /* Pointer cursor on hover */
}



/* Active state */
.ant-btn:active {
    background-color: #082337;  /* Even darker blue when active */
    transform: translateY(2px); /* Slight push effect when clicked */
}

/* Focus state */
.ant-btn:focus {
    outline: none;                /* Remove default focus outline */
    box-shadow: 0 0 0 2px rgba(9, 30, 66, 0.5); /* Custom focus style with a subtle glow */
}

:where(.css-dev-only-do-not-override-m4timi) {
    .ant-form-vertical {
      .ant-form-item:not(.ant-form-item-horizontal) {
        .ant-form-item-label {
          > label {
            margin: 0;
            color: bisque;
          }
        }
      }
    }
  }

:where(.css-dev-only-do-not-override-m4timi).ant-select-outlined.ant-select-disabled:not(.ant-select-customize-input) .ant-select-selector.ant-select-selection-placeholder{
color: aqua;
}
.ant-select-selector.ant-select-selection-placeholder{
    color: inherit;
}
.ant-select-arrow{
    color: aquamarine;
}

.global-form-flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 12px
}
.update-section{
    display: flex;
    justify-content: space-between;
    gap: 12px;
    width: 300px;
    flex-wrap: wrap;;
}
/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
    .configured-card {
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }
    .global-card{

    }
    .nav-bar-mobile{
        font-size: small;
    }
    .ant-card-head-title{
        text-wrap: wrap;
    }
    .update-section{

    }

}
